# Python-specific ignores

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*/env/
*.egg-info/
dist/
build/

# SQLite Database
db.sqlite3

# Poetry
poetry.lock

# IDE specific
.idea/  # IntelliJ IDEA
.vscode/ # VS Code
*.swp # Vim swap files
*.swo

# OS-specific
.DS_Store # macOS

# Other
/logs #If you create log directory to record logs and do not want to track them
/data #If you create data directory to store datas and do not want to track them