# Ignore database files
curso_fastapi_project/db.sqlite3

# Ignore Python cache files
curso_fastapi_project/__pycache__/


# Ignore environment files
.env
.venv/
env/
venv/

# Ignore IDE specific files
.vscode/
.idea/
*.swp